<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ChiriChat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:configChanges="locale|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="ChiriChat" >
        
        <activity
            android:name=".Controller.Register"
            android:label="Chirichat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.ListContacts"
            android:label="Contactos" >
        </activity>
        <activity
            android:name=".Controller.ListConversation"
            android:label="list_conversation"
            android:windowSoftInputMode="stateHidden" />
        <!-- "stateHiden" -> Evita que reciba el foco el EditText al abrir la actividad -->

        <activity
            android:name=".Controller.PerfilUser"
            android:label="perfil_contact" />
        <activity
            android:name=".Controller.EditMyPerfilUser"
            android:label="Perfil" />
        <activity
            android:name=".Controller.Opciones"
            android:label="Opciones" />
        <activity
            android:name=".Controller.ListChats"
            android:label="Conversacion" >
        </activity>
        <service android:name="com.ChiriChat.Service.MyIntentService" />
    </application>

</manifest>